@import url('https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css');
@import url('https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

p.video-title,
p.video-author,
p.video-stats {
    margin: 0 0 5px 0;
}

body {
    font-family: Roboto, Arial;
    padding: 60px 0 0 70px;
}


/* customize scrollbar */


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 750px) and (max-width: 1000px) {
    .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) and (max-width: 750px) {
    .video-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}