/* Grid 1 */
.thumbnail {
    width: 100%;
    border-radius: 10px;
    transition: border-radius 0.3s, transform 0.3s, box-shadow 0.3s;
}

.thumbnail:hover {
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.01);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}


.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}

/* Grid 2 */
.video-info-grid {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-top: 5px;
}

.video-title {
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-author,
.video-stats {
    font-size: 16px;
    color: rgb(37, 36, 36);
    font-weight: 500;
}

.channel-picture {
    width: 35px;
    border-radius: 20px;
}

/* video time */
.thumbnail-row {
    position: relative;
}

.video-time {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    background-color: rgba(17, 17, 17, 0.5);
    color: white;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: 8px;
    right: 5px;
}